@media (min-width: 400px){
  .container {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
  }

.main-header,
.about,
.main-footer {
    display:flex;
    }
 
  .main-header {
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }

  .about{
    flex-direction:column;    
  }

  .main-footer {
    flex-direction:column;
    align-items:center;
  }

  .image{
    margin-top: 150px;
  }
  
}

@media (min-width: 1025px){

  .main-nav{
    display:flex;
    margin-left:auto;
  }
  .main-header,
  .main-nav{
    flex-direction:row;
  }

  .main-footer{
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
  }
  .copyright {

    order:-1;
  }
}